QUESTION 2 A
<hr>
How will you replace all the values greater than a given value to a given cutoff from the array a, replace all values greater than 45 to 45 and less than 15 to 15.
<hr>
np.random.seed(100) <br>
a = np.random.uniform(1,50, 20) <br> 
Hint : Use np.clip and np.where <br>

In [1]:
import numpy as np

In [2]:
np.random.seed(100) 
a = np.random.uniform(1,50, 20)

In [3]:
a

array([27.62684215, 14.64009987, 21.80136195, 42.39403048,  1.23122395,
        6.95688692, 33.86670515, 41.466785  ,  7.69862289, 29.17957314,
       44.67477576, 11.25090398, 10.08108276,  6.31046763, 11.76517714,
       48.95256545, 40.77247431,  9.42510962, 40.99501269, 14.42961361])

In [4]:
np.clip(a,15, 45)

array([27.62684215, 15.        , 21.80136195, 42.39403048, 15.        ,
       15.        , 33.86670515, 41.466785  , 15.        , 29.17957314,
       44.67477576, 15.        , 15.        , 15.        , 15.        ,
       45.        , 40.77247431, 15.        , 40.99501269, 15.        ])

QUESTION 2 B
<hr>
Write a python program to split a text column into two separate columns using pandas.
<hr>
df = pd.DataFrame(["STD, City ,state"]) 
"33, Mumbai   Maharashtra", 
"44, Chennai    Tamil Nadu", 
"40,Vishakapatnam    Telengana", 
"80, Bangalore    Karnataka"], columns=['row'])

In [54]:
import pandas as pd

In [112]:
df = pd.DataFrame(["STD, City ,state",
"33, Mumbai   Maharashtra", 
"44, Chennai    Tamil Nadu", 
"40,Vishakapatnam    Telengana", 
"80, Bangalore    Karnataka"], columns=['row'])
df

                             row
0               STD, City ,state
1       33, Mumbai   Maharashtra
2      44, Chennai    Tamil Nadu
3  40,Vishakapatnam    Telengana
4     80, Bangalore    Karnataka

In [114]:
content = []

i = 1

while True :

    try : 
        row = df.iloc[i].values.tolist() [0]

        ls = []

        ls.append( int(row.split( "," )[0]) )
        
        for x in row.split( "," )[1].strip().split("  ") :

            if( x != "" ) :
                ls.append( x )
                
        content.append(ls)

    except : break

    i += 1
    
print( content )
df1 = pd.DataFrame( content ,columns=["STD","City","State"],index=range(4))
df1 

# df1 = pd.DataFrame( content ,columns=["STD","City","State"],index=range(3))

[[33, 'Mumbai', ' Maharashtra'], [44, 'Chennai', 'Tamil Nadu'], [40, 'Vishakapatnam', 'Telengana'], [80, 'Bangalore', 'Karnataka']]

   STD           City         State
0   33         Mumbai   Maharashtra
1   44        Chennai    Tamil Nadu
2   40  Vishakapatnam     Telengana
3   80      Bangalore     Karnataka